/* #box {
    background-color: blue;
    color: aliceblue;
}

/* .Heading {
    color: red;
} */
/*h1,h2,h3{
    color: red;
 }
 button{
   background-color:  green;
 } */
/* p {
    text-align: start;
}

h1 {
    text-align: center;
    text-decoration: red wavy underline ;
}

a {
    text-decoration: none;
} */
 /* #h1{
    font-weight: normal;
 }
 #h2{
    font-weight: 390;
 } */
  /* #h1{
    font-family: cursive;
  }
  p{
    font-family: fantasy,'Courier New', Courier, monospace;
  } */
   /* #one{
    font-size: 20px;
   } */
    /* *{
        font-family: 'Times New Roman';
    }
    h1{
        text-align: center;
        text-transform: uppercase;
    }
    #outer{
        font-size: 25px;
    }
    #inner{
        font-size: 10px;
    } */